<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2> Login </h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username", placeholder="Username">
        <input type="text" name="password", placeholder="password">
        <button type="submit">submit</button>
    </form>
    <a href="{% url 'signup' %}">Create New Account</a>
    <footer>
        <p>&copy; 2025 My Django App</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>