<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Signup</button>
    </form>
    <a href="{% url "login" %}">Already have an Account? Login</a>
    <footer>
        <p>&copy; 2025 My Django App</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html> 